<div class="block1">
  <mat-form-field appearance="fill" style="max-width: 200px;">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="currentDate">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" style="max-width: 500px;">
    <mat-label>Comparar con los siguientes resultados:</mat-label>
    <textarea matInput  [formControl]="lasResultsText"></textarea>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon (click)="reload()">async</mat-icon>
      </th>
      <td mat-cell *matCellDef="let idx = index"> {{idx + 1 + paginator.pageIndex * paginator.pageSize}}) </td>
    </ng-container>
    <ng-container matColumnDef="sorteo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> sorteo </th>
      <td mat-cell *matCellDef="let row" > {{row.sorteo}} </td>
    </ng-container>
    <ng-container matColumnDef="clipboard">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon>content_copy</mat-icon>
      </th>
      <td 
        mat-cell 
        *matCellDef="let row" 
        (click)="selectValuesToText(row)" >
        <mat-icon>content_copy</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> hora </th>
      <td mat-cell *matCellDef="let row"> {{row.hora}} </td>
    </ng-container>
    <ng-container matColumnDef="valores">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> valores </th>
      <td mat-cell *matCellDef="let row">
        <ul class="valores">
          <li class="noselect"
            *ngFor="let valor of row.valores" 
            (click)="toggleSelectionNumber(valor)"
            [class.number-selected]="numberIsSelected(valor)"
            [matTooltip]="maxFrequenciesSet[valor] ? 'max: ' + maxFrequenciesSet[valor] : ''"
            >{{ valor }}</li>
        </ul>
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let row; let idx = index">
        <mat-icon (click)="selectOnlyThese(row)">fact_check</mat-icon>
        <mat-icon *ngFor="let c_idx of [2,3,4,5,6]"
          [class.s1]="compareAction.row == row && compareAction.max == c_idx" 
          (click)="compareLastFor(c_idx, row, idx)" 
          [matTooltip]="'comparar últimos ' + c_idx">query_builder</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr 
      mat-row
      [class.selected_row]="selectedValuesToCopied == row" 
      *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<div>
  <ol>
    <li>Número que más aparece</li>
    <li>Número que aparece en todas las jugadas</li>
    <li>Número que aparece en jugadas intervalas</li>
  </ol>
  <app-kinelo-statistics [data]="data"></app-kinelo-statistics>
</div>