table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto
}
tr{
  th{
    &:nth-child(1){
      width: 110px;
      padding-left: 0px;
    }
  }
}
:host{
  padding: 10px;
  display: block;
}
.block1{
  display: flex;
  flex-direction: row;
  mat-form-field{
    width: 100%;
    margin: 0px 10px;
  }
}
ul.valores{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  >li{
    margin: 2px 5px;
    padding: 1px 2px;
    border: 1px solid transparent;
    cursor: pointer;
    &.number-selected{
      border: 1px solid red;
    }
  }
}
.mat-icon{
  cursor: pointer;
}
.s1{
  color: #49b961;
  font-weight: bold;
}
.selected_row{
  background-color: #ebebeb;
}